<%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: "Username" %><br />
    <%= f.text_field :email, placeholder: "Email" %><br />
    <%= f.password_field :password, placeholder: "Password" %><br />

    <%= f.submit "Create" %>
<% end %>

<%# form_tag("/users", method: "post") do %>
    <%# label_tag(:username, "Username:") %>
    <%# text_field_tag(:username) %>

    <%# label_tag(:email, "Email:") %>
    <%# text_field_tag(:email) %>

    <%# label_tag(:password, "Password:") %>
    <%# password_field_tag(:password) %>

    <%# submit_tag("Create") %>
<%# end %>

<!--
<form accept-charset="UTF-8" action="/users" method="post">
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]"/>

    <label for="user[email]">Email:</label>
    <input type="text" name="user[email]"/>

    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]"/>

    <input type="submit" value="Create"/>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
-->